body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #37ecba, #72afd3);
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: white;
}

h1 {
  color: white !important;
}

.main {
  padding: 1rem;
  height: auto;
  min-height: 100vh;
  max-width: 26rem;
  margin: 0 auto;
}

.main:hover .icons__plus {
  display: block;
}

.main:hover .input:checked ~ .icons__plus {
  display: none;
}

.main:hover .input:checked ~ .icons__cross {
  display: block;
}

.border {
  border-bottom-style: solid;
  border-color: rgb(128, 128, 128);
  padding: 1rem;
}

.block {
  display: block;
  cursor: pointer;
  position: relative;
}

.container__flex {
  display: flex;
  justify-content: space-between;
}

.input {
  appearance: none;
  position: absolute;
}

.block__images {
  opacity: 0;
  transition: all .2s linear;
  transform: scale(0);
  height: 0;
  display: flex;
  justify-content: center;
}

.block__images img {
  width: 15rem;
  height: 15rem;
  border-radius: 31.25rem;
  padding: 2rem;
  margin: 0 auto;
}

.icons__cross, 
.icons__plus {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.main:hover .container__flex {
  color: white !important;
}

.block:hover .block__images {
  opacity: 1;
  transition: all .2s linear;
  transform: scale(1);
  height: 18.75rem;
}

.block:hover .icons__cross {
  display: block;
}

.block:hover .icons__plus {
  display: none;
}
.input:checked ~ .block__images {
  opacity: 1;
  transition: all .2s linear;
  transform: scale(1);
  height: 18.75rem;
}
.input:checked ~ .container__flex {
  color: white;
}

.input:checked ~ .icons__cross {
  display: block;
  color: white;
}

.block:hover .container__flex {
  color: white;
}

.block:hover .icons__cross {
  color: white;
}
.container__flex {
  color: rgba(34, 34, 136, 0.735);
}

@media all and (max-width: 820px) {
  body {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 500px) {
  body {
    font-size: 0.7rem;
  }

  .block:hover .block__images {
    height: 15rem;
  }

  .input:checked~.block__images {
    height: 15rem;
  }

  .border {
    padding: 0.5rem ;
  }

  .block__images img {
    width: 10rem;
    height: 10rem;
  }
}